.page {
  background-color: var(--page-bg-color);
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  inline-size: 100%;
  max-inline-size: 768px;
  margin-inline: auto;
}

.header {
  display: grid;
  position: relative;
  margin-inline-start: clamp(0px, 19.542px + -2.5445vw, 10px);
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  inline-size: calc(100% - 20px);
  min-block-size: clamp(668px, 212.3686px + 121.5017vw, 1024px);
  block-size: 100vh;
}

.header__rec-decoration {
  position: absolute;
  display: inline;
  color: var(--header-color);
  top: calc(10px + clamp(0px, -9.542px + 2.5445vw, 10px));
  right: 9px;
}

.header__rec-decoration-text {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
}

.header__rec-decoration-text:after {
  content: "";
  display: inline-block;
  background-color: var(--header-color);
  inline-size: 9px;
  block-size: 9px;
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--header-color);
  vertical-align: 2px;
}

.header__theme-menu {
  grid-area: 1 / 1;
  margin-block-start: clamp(75px, -76.0239px + 40.273vw, 193px);
  justify-self: end;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: var(--menu-color);
  inline-size: 25px;
  block-size: 25px;
  top: calc(10px + clamp(0px, -9.542px + 2.5445vw, 10px));
  right: 0;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: var(--menu-color);
  inline-size: 25px;
  block-size: 25px;
  bottom: calc(10px + clamp(0px, -9.542px + 2.5445vw, 10px));
  left: clamp(0px, -19.084px + 5.0891vw, 20px);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.header__theme-menu-button {
  background-color: transparent;
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  border: 1px solid transparent;
  text-transform: lowercase;
  color: var(--menu-color);
  inline-size: 70px;
  block-size: 25px;
  padding-bottom: 5px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-hover-color);
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid currentColor;
}

.main-title {
  color: var(--header-title-color);
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0%;
}

.header__title {
  grid-area: 2 / 1;
  text-shadow: 4px 4px 0 var(--main-title-shadow-color);
  align-self: start;
  padding-block-start: clamp(67px, -36.0534px + 27.4809vw, 175px);
}

.highlighted-block {
  background-color: var(--highlighted-box-background-color);
  color: var(--text-color);
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.header__epigraph {
  grid-area: 3 / 1;
  align-self: start;
  margin-block-start: clamp(54px, -47.145px + 26.972vw, 160px);

  inline-size: clamp(355px, 346.4122px + 2.2901vw, 364px);

  margin-inline-start: clamp(0px, -365.458px + 97.4555vw, 383px);
}

.content {
  margin-inline-start: clamp(10px, 0.458px + 2.5445vw, 20px);
  inline-size: clamp(355px, -0.916px + 94.9109vw, 728px);
  margin-block-start: clamp(0px, -4.771px + 1.2723vw, 5px);
}

.content__text-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
}

.content__text-content-topic-primary {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(0px, -33.3969px + 8.9059vw, 35px);
  margin-block-start: clamp(0px, -33.3969px + 8.9059vw, 35px);
}

.content__text-content-topic-secondary .content__text-content-topic-texts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}

.content__text-content-topic-title {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--topic-title-color);
  justify-self: center;
}

.content__text-content-topic-subtitle {
  justify-self: center;
  inline-size: 100%;
  margin-block-start: 20px;
}

.content__text-content-topic-paragraph {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--paragraph-text-color);
  margin-block-start: 10px;
  justify-self: center;
}

.content__text-content-topic-paragraph-link {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  text-shadow: 1px 2px 0 var(--link-shadow-color);
  text-decoration: none;
}

.content__text-content-topic-paragraph-link:hover {
  border-bottom: 1px solid var(--link-decoration-color);
}

.content__text-content-topic-paragraph-link:focus {
  outline: 1px solid var(--link-decoration-color);
}

.opening-topic {
  margin-block-start: 0px;
}

.opening-title {
  margin-block-start: clamp(20px, 59.084px + -5.0891vw, 40px);
}

.closing-paragraph {
  padding-block-end: 10px;
}

.content__text-content-advice-title {
  font-weight: 400;
  inline-size: 100%;
  margin-block-start: 20px;
}

.pictures {
  display: grid;
  gap: clamp(10px, 0.458px + 2.5445vw, 20px);
  grid-auto-flow: row;
  padding-block-start: clamp(18px, -10.626px + 7.6336vw, 48px);
  grid-template-columns: clamp(355px, -0.916px + 94.9109vw, 728px);
}

.pictures__image {
  inline-size: 100%;
  block-size: auto;
}

.footer {
  display: grid;
  position: relative;
  margin-block-start: clamp(40px, 27.2014px + 3.413vw, 50px);
  margin-inline-start: 10px;
  grid-template-columns: 1fr;
  inline-size: calc(100% - 20px);
  min-block-size: clamp(668px, 212.3686px + 121.5017vw, 1024px);
  block-size: 100vh;
}

.footer__title {
  grid-row: 1;
  grid-column: 1;
  text-shadow: 2px 2px 0 var(--header-color);
  align-self: center;
  justify-self: center;
}

@media (width >= 768px) {
  .page {
    max-inline-size: clamp(768px, 0px + 100vw, 1024px);
  }

  .header__theme-menu {
    margin-block-start: 193px;
  }

  .header {
    min-block-size: clamp(768px, 1792px + -100vw, 1024px);
  }

  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    align-self: flex-start;
    padding-block-start: clamp(175px, -125px + 39.0625vw, 275px);
  }

  .opening-title {
    margin-block-start: 20px;
  }

  .header__epigraph {
    inline-size: clamp(364px, -17px + 49.6094vw, 491px);
    margin-inline-start: clamp(383px, -10px + 51.1719vw, 514px);
    margin-block-start: clamp(112px, 304px + -18.75vw, 160px);
  }

  .content {
    inline-size: calc(100% - 40px);
    margin-block-start: 5px;
  }

  .content__text-content-topic-primary {
    display: grid;
    grid-template-columns: clamp(236px, -1px + 30.8594vw, 315px) 1fr;
    gap: 20px;
    margin-block-start: 35px;
  }

  .content__text-content-topic-secondary {
    margin-block-end: 15px;
  }

  .content__text-content-topic-secondary .content__text-content-topic-title {
    justify-self: flex-start;
    inline-size: clamp(236px, -1px + 30.8594vw, 315px);
    padding-block-start: 50px;
  }
  

  .pictures {
    grid-template-columns:
      clamp(229px, -29px + 33.5938vw, 315px)
      clamp(230px, -25px + 33.2031vw, 315px)
      clamp(229px, -26px + 33.2031vw, 314px);
    gap: 20px;
    padding-block-start: 48px;
  }

  .pictures .content__text-content-topic-subtitle:first-of-type {
    grid-row: 1;
    grid-column: 1 / 4;
  }

  .pictures__image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .pictures img:nth-of-type(1) {
    grid-row: 2;
    grid-column: 1 / 3;
  }

  .pictures img:nth-of-type(2) {
    grid-row: 2 / 4;
    grid-column: 3;
  }

  .pictures img:nth-of-type(3) {
    grid-row: 3 / 5;
    grid-column: 1;
  }

  .pictures img:nth-of-type(4) {
    grid-row: 3;
    grid-column: 2;
  }

  .pictures img:nth-of-type(5) {
    grid-row: 4;
    grid-column: 2 / 4;
  }

  .footer {
    margin-block-start: 60px;
    margin-inline-start: 0;
    min-block-size: clamp(768px, 1792px + -100vw, 1024px);
  }

  .footer__title {
    margin-inline-start: 15px;
  }
}

/* Перенос меню наверх после 768px*/
@media (width >= 769px) {
  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__theme-menu {
    inline-size: 230px;
    justify-self: center;
    align-self: flex-start;
    margin-block-start: 20px;
    margin-inline-start: 20px;
  }
}

@media (width >= 1024px) {
  .page {
    inline-size: 1024px;
  }

  .header {
    margin-inline-start: 0px;
    grid-template-columns: 1fr;
    inline-size: calc(1024px - 20px);
    min-block-size: 768px;
  }

  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    padding-block-start: 275px;
  }

  .header__epigraph {
    inline-size: 491px;
    margin-inline-start: 514px;
    margin-block-start: 112px;
  }

  .content__text-content-topic-secondary .content__text-content-topic-title {
    inline-size: 315px;
  }

  .content__text-content-topic-secondary .content__text-content-topic-texts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content__text-content-topic-primary {
    grid-template-columns: 315px 1fr;
  }

  .pictures {
    grid-template-columns: 315px 315px 314px;
    gap: 20px;
    padding-block-start: 48px;
  }

  .footer {
    grid-template-columns: calc(1024px - 40px);
    margin-block-start: 60px;
    min-block-size: 768px;
  }

  .footer__title {
    margin-inline-start: 40px;
  }
}
